#walkthru-carousel{:class => 'carousel'}
  .carousel-inner
    %div{:class => 'active item'}
      .carousel-container
        %h2 Big Data Analytics and Services
        %br
        = image_tag('big_data.jpg', :size => '700x300')
    %div{:class => 'item'}
      .carousel-container
        %h2 Data Warehousing Expertise
        %br
        = image_tag('analytics.jpg', :size => '700x300')
    %div{:class => 'item'}
      .carousel-container
        %h2 Business Intelligence Services
        %br
        = image_tag('cloud_computing.jpg', :size => '700x300')
  %a{:class => 'carousel-control left', :href => "#walkthru-carousel", "data-slide" => "prev"} &lsaquo;
  %a{:class => 'carousel-control right', :href => "#walkthru-carousel", "data-slide" => "next"} &rsaquo;