#walkthru-carousel{:class => 'carousel'}
  .carousel-inner
    %div{:class => 'active item'}
      .carousel-container
        %h2 Big Data Analytics and Services
    %div{:class => 'item'}
      .carousel-container
        %h2 Data Warehousing Expertise
    %div{:class => 'item'}
      .carousel-container
        %h2 Business Intelligence Services
  %a{:class => 'carousel-control left', :href => "#walkthru-carousel", "data-slide" => "prev"} &lsaquo;
  %a{:class => 'carousel-control right', :href => "#walkthru-carousel", "data-slide" => "next"} &rsaquo;