.hero-unit
  %h2.center
    Join our exciting team
  %br
  %h6 Seeking Big Data and BI talent
  %br
  %p
    We are always looking for dynamic and motivated architects, senior and junior engineers with specific focus on Big Data and BI technologies like Hadoop, Microsoft Business Intelligence, Cognos, Informatica, Oracle and Microstrategy. The ideal candidate would have specific deep expertise on one or more of these platforms and bring in sound technical and analytical skills, ability to learn and embrace exciting new technologies in the big data space.
  %br
  %h6 Benefits we offer
  %br
  %p
    We offer compensation on par with industry standards and that is relevant to the candidate's experience and credentials. Our benefits package includes a comprehensive health and vision care plan, paid time off and casual days. The work hours are flexible and the emphasis is more on getting stuff done. 
  %p
    Please send in your resumes with a cover letter to 
    %b
      = link_to('jobs@digitalmindstech.com')