.hero-unit
  %h2.center
    Join our exciting team
  %br
  .center
    = image_tag('careers.jpg', :size => '940x300')
  %br
  %p
    We believe in hiring long and everlasting assets to our company. Working with Digital Mind affords you with a certainty of a successful career around the belief of growth across boundaries. Our commitment to individual choice lets you customize aspects of your career path, your educational opportunities and your benefits. How to improve our business and your clients’ will be heard.
  %br
  %h6 Who we are?
  %p
    A company established to be the Client's problem solving experts. A place to share your open ideas to revamp the existing old technologies in the industry. An institution where investments are made on the resources for their continuous skill and knowledge developments.
  %br
  %h6 Why should you join us?
  %p
    We’re growing quickly, expanding rapidly around the globe, resolving new challenges or problems for clients, and opening new frontiers to explore. We're always looking for how clients can create more innovative ways of doing business, leverage advanced technologies and transform their operations in advance of any economic eventuality.
  %br
  %h6 What we offer?
  %ul.offer-list
    %li Compensation on par with Industry standards
    %li Broad exposure to latest technology skills
    %li Challenging global opportunities
    %li Horizontal and vertical domain experience 
    %li Paid time off
    %li Flexible Work hours
    %li Work life Balance
  %br
  %h6 Seeking Big Data and BI Talent
  %p
    We are always looking for dynamic and motivated architects, senior and junior engineers with specific focus on Big Data and BI technologies like Hadoop, Microsoft Business Intelligence, Cognos, Informatica, Oracle and Microstrategy. The ideal candidate would have specific deep expertise on one or more of these platforms and bring in sound technical and analytical skills, ability to learn and embrace exciting new technologies in the big data space.
  %p
    If you are not a one in a thousand but with a clear mind, innovative ideas and positive energy looking for THE opening which you believe will shape up your career in the way you dreamt and believe that you have the right energy to join other leaders in this Industry, send us your resume to 
    = mail_to('hr@digitalmindtech.com')