.hero-unit
  %h2.center
    Join our exciting team
  %br
  %p
    Whether you're fresh out of college, or an experienced professional, Digital Mind is the place to be. Here, you can cultivate your expertise, use your knowledge to the fullest extent, or re-invent yourself, without ever having to leave the company. At Digital Mind, you can experience a world of opportunities. Opportunities to explore a wide-range of careers, to develop industry-leading innovations, and to work with the latest technologies and brilliant minds across the globe!
  %br
  %h6 Seeking Big Data and BI talent
  %br
  %p
    We are always looking for dynamic and motivated architects, senior and junior engineers with specific focus on Big Data and BI technologies like Hadoop, Microsoft Business Intelligence, Cognos, Informatica, Oracle and Microstrategy. The ideal candidate would have specific deep expertise on one or more of these platforms and bring in sound technical and analytical skills, ability to learn and embrace exciting new technologies in the big data space.
  %br
  %h6 Benefits we offer
  %br
  %p
    We offer compensation on par with industry standards and that is relevant to the candidate's experience and credentials. Our benefits package includes a comprehensive health and vision care plan, paid time off and casual days. The work hours are flexible and the emphasis is more on getting stuff done.
  %p
    Please send in your resumes with a cover letter to 
    %b
      = mail_to('narain@digitalmindtech.com')