.hero-unit
  %h2.center
    The Company
  %br
  %p
    In this elastic world where business environment is rapidly changing and organizations are faced with enormous competitive challenges, reactive business intelligence and dashboard reporting alone are no longer sufficient for the enterprise to stay competitive. To stay relevant and competitive, organizations need to start leveraging the transformational power of data as it is being generated internally or externally and become capable in anticipating market demands, predicting business outcomes before opportunities are missed and responding to events in real time.
  %p
    Whether your vision is to become a big data advantaged business sitting in the middle of information flow collecting aggregating and analyzing industry data  or an enterprise trying to capitalize on the transformational potential of big data to create value and gain competitive advantage, Digital Minds's deep business domain, data science and technology expertise can help you discover insights, expose variability and improve your performance.
  %p
    Digital Minds's focus is to build business aligned solutions and provide services from strategy to realization, enabling enterprises develop an integrated cohesive information and data management environment by combining current  BI platforms with the Hadoop ecosystem and other big data technologies.
