.hero-unit
  %h2.center
    About Digital Mind
  %br
  = image_tag('about_us.jpg')
  %p
  %p
    Digital Mind provides experts in Business Intelligence, Big Data, Analytical report development, Cloud Computing and Mobile Application Development to empower your organization by transforming available data into insights resulting in an indisputable bottom line impact.
  %p
    Our Chief Technology Architects and Implementers have vast experience with different technologies as mentioned below. In case, the technology that you are looking for is not present in the list, please contact us. We are confident that we may have the skill set that you’re looking for.
.row
  .span3
    %h6 Databases
    %ul
      %li IBM Netezza
      %li Oracle
      %li Microsoft SQL Server
      %li Cloudera
      %li DATAllegro (Microsoft)
      %li Hadoop
      %li HP Vertica
      %li Hortonworks
      %li IBM DB2
      %li Informix
      %li ParAccel
      %li Sybase/Sybase IQ
      %li Teradata
  .span3
    %h6 Master Data Management
    %ul
      %li IBM InfoSphere Master Data Management
      %li Informatica MDM
      %li Kalido
      %li Oracle MDM
      %li SAP MDM
      %li Data Modeling
      %li Composite Studio
      %li CA Erwin Data Modeler
      %li ER/Studio (Embarcadero)
      %li Oracle
      %li Data Integration/Data Management
      %li Ab Initio
      %li Composite
      %li DT/Studio (Embarcadero)
      %li IBM InfoSphere Datastage
      %li Informatica
      %li Oracle Warehouse Builder
      %li Talend 
  .span3
    %h6 Information Delivery
    %ul
      %li BusinessObjects (SAP)
      %li Cognos (IBM)
      %li Crystal Reports
      %li Hyperion (Oracle)
      %li Microsoft SQL
      %li MicroStrategy
      %li Qlikview
      %li SAS Dataflux 
      %li SPSS
      %li Tableau
      %li SSRS
  .span3
    %h6 Application Development
    %ul
      %li AJAX
      %li ASP
      %li ATG 
      %li BEA WebLogic
      %li C/C++/C#
      %li ColdFusion
      %li CSS
      %li Java/JavaScript/JSP/J2EE
      %li HTML, DHTML, XML, XSL
      %li IBM WebSphere
      %li Microsoft .NET
      %li Perl
      %li PHP
      %li Python
      %li Ruby on Rails
      %li SQL
      %li Windows/Unix

