.hero-unit
  %h2.center
    The Company
  %br
  = image_tag('about_us.jpg')
  %p
  %p
    Digital Mind provides experts in Business Intelligence, Big Data, Analytical report development, Cloud Computing and Mobile Application Development to empower your organization by transforming available data into insights resulting in an indisputable bottom line impact.
  %p
    Our Chief Technology Architects and Implementers have vast experience with different technologies as mentioned below. In case, the technology that you are looking for is not present in the list, please contact us. We are confident that we may have the skill set that you’re looking for.
  %br
  %h6.center
    Our Address
  %br
  %p.center
    Digital Mind Technologies Corporate Headquarters
    %br
    2500, West Higgins Road, Suite 1273
    %br
    Hoffman Estates, Illinois, USA - 60169
    %br
    Phone: +1.815.980.8749 Fax: +1.847.598.1106
