= render 'shared/carousel'
.hero-unit
  %p
    Digital Mind is focused on elevating the business intelligence and analytical capabilities to a new level by providing services and solutions enabled by the BI system through Big Data technologies and various cutting-edge emerging information management platforms. 
.row
  .span4
    %h3 Big Data Analytics and Services
    %p
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    = link_to('View more', services_url, :class => 'btn btn-primary')
  .span4
    %h3 Data Warehousing expertise
    %p
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
    = link_to('View more', services_url, :class => 'btn btn-primary')
  .span4
    %h3 Business Intelligence Services
    %p
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    = link_to('View more', services_url, :class => 'btn btn-primary')

    