= render 'shared/carousel'
.hero-unit
  %p
    Digital Minds is a solution provider focused on solving the challenges of big data and elevating the business analytics capabilities of the enterprises to a new level by leveraging Hadoop with existing data management systems.