= render 'shared/carousel'
.hero-unit
  %p
    %b Digital Mind is focused on elevating the business intelligence and analytical capabilities to a new level by providing solutions and services through Big Data and various cutting-edge emerging information management platforms.
.row
  .span4
    %h6 Big Data Services
    %p
      Today, most of the industries have data many times more than what they had a decade  ago and having a huge challenge in finding ways to leverage their business to drive profitability and growth.
    = link_to('View more', services_url)
  .span4
    %h6 Business Intelligence Services
    %p
      The business environment today is more dynamic than ever and needs to be leveraging technology for sound decision making. The tools available today propel business strategizing to newer terrains.
    = link_to('View more', services_url)
  .span4
    %h6 Information Delivery/Analytics
    %p
      Our experts deliver information delivery architecture and design of the user interface, report design, data provisioning, statistical modeling and deep analytics to drive your business strategy. 
    = link_to('View more', services_url)

    