.hero-unit.services
  %h2.center
    Services we provide
  %br
  %h6 Big Data Services
  %br
  %p
    Digital Minds is a solution provider focused on solving the challenges of big data and elevating the business analytics capabilities of the enterprises to a new level by leveraging Hadoop with existing data management systems. Digital Minds builds solutions and offers services that combine the science of big data analytics with our expertise in business and industry to help enterprises leverage the transformational potential of data to innovate, create value, enable transparency and have an undeniable impact on the bottom line. From strategizing and planning big data systems to implementing and adopting them enterprise-wide, Digital Minds enables our clients to gain insight, make better decisions, and achieve a competitive advantage.
  %br
  %h6 Data Warehousing expertise
  %br
  %p
    Digital Minds is a solution provider focused on solving the challenges of big data and elevating the business analytics capabilities of the enterprises to a new level by leveraging Hadoop with existing data management systems. Digital Minds builds solutions and offers services that combine the science of big data analytics with our expertise in business and industry to help enterprises leverage the transformational potential of data to innovate, create value, enable transparency and have an undeniable impact on the bottom line.
  %br
  %h6 Business Intelligence Services
  %br
  %p 
    Digital Minds is a solution provider focused on solving the challenges of big data and elevating the business analytics capabilities of the enterprises to a new level by leveraging Hadoop with existing data management systems. Digital Minds builds solutions and offers services that combine the science of big data analytics with our expertise in business and industry to help enterprises leverage the transformational potential of data to innovate, create value, enable transparency and have an undeniable impact on the bottom line.
  %br
  %p
    If you are willing to consider us for your next big project, Please 
    = link_to("write", '#contact', "data-toggle" => "modal")
    to us.