.hero-unit.team
  %h2.center
    Our Team
  %br
  %h6 Narayanan Ramasamy
  %br
  %p
    Narayanan Ramasamy is the Chief Executive Officer (CEO) and Managing Director of the company. Narain has more than 13 years of data warehousing and analytics experience at company like  QWEST Communication Inc, The Nielsen Company and Sears Holding Corporation, Narain leads Digital Mind  across every aspect, including driving the company's strategic vision and providing executive level support and guidance across Digital Mind’s client base. Narain personifies Digital Mind’s commitment to customer satisfaction and high quality of deliverables. Through his vast experience in a variety of operating roles across Digital Mind, he has built a reputation in the IT services industry for his exceptional ability to build and grow new businesses and nurture long-term relationships.

