.hero-unit.team
  %h2.center
    Our Team
  %br
  %h6 Narayanan Ramasamy
  %br
  %p
    %b Narayanan Ramasamy 
    is a solution provider focused on solving the challenges of big data and elevating the business analytics capabilities of the enterprises to a new level by leveraging Hadoop with existing data management systems. Digital Minds builds solutions and offers services that combine the science of big data analytics with our expertise in business and industry to help enterprises leverage the transformational potential of data to innovate, create value, enable transparency and have an undeniable impact on the bottom line. From strategizing and planning big data systems to implementing and adopting them enterprise-wide, Digital Minds enables our clients to gain insight, make better decisions, and achieve a competitive advantage.
  %br
  %h6 SreemDevi Narayanan
  %br
  %p
    %b SreemDevi Narayanan
    is a solution provider focused on solving the challenges of big data and elevating the business analytics capabilities of the enterprises to a new level by leveraging Hadoop with existing data management systems. Digital Minds builds solutions and offers services that combine the science of big data analytics with our expertise in business and industry to help enterprises leverage the transformational potential of data to innovate, create value, enable transparency and have an undeniable impact on the bottom line.
